<form action="/shop/create-item" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="image1" name="image1">
    <input type="text" placeholder="image2" name="image2">
    <input type="text" placeholder="image3" name="image3">
    <input type="text" placeholder="price" name="price">
    <input type="text" placeholder="unit_price" name="unit_price">
    <input type="text" placeholder="description" name="description">
    <input type="text" placeholder="view" name="view">
    <input type="text" placeholder="purchase" name="purchase">
    <input type="text" placeholder="voucher" name="voucher">
    <input type="text" placeholder="type" name="type">
    <input type="text" placeholder="qrcode" name="qrcode">
    <button type="submit">Submit</button>
  </form>